

body{
    background-image: url('https://cdn11.bigcommerce.com/s-dl6a9h3u/images/stencil/1280x1280/m/mpc2500_top_large__67844.original.png');
    background-size:cover;
}


.keys{
display:flex;
justify-content:center;
}

.key{
    border: 4px solid black;
    border-radius: 5px;
    margin:1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 1.07s;
    width: 100px;
    text-align:center;
    color:white;
    background:rgb(68, 63, 63);    
    text-shadow: 0 0 5px black;
}

.playing{
    transform:scale(1.2);
    border-color:rgb(238, 20, 56);
    box-shadow: 0 0 10px rgb(148, 50, 55);
    /* transition: .4s; */
}

.kbd{
    display:block;
    font-size:40px
}

.sound{
    font-size:1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:  rgba(221, 55, 69, 0.932);
}